.cart-container {
	padding: 20px;
}

.cart-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.error {
	color: red;
	text-align: center;
	margin-bottom: 20px;
}

.cart-items {
	list-style-type: none;
	padding: 0;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 20px;
}

.cart-item-info {
	flex-grow: 1;
}

.cart-item-info h3 {
	margin: 0 0 10px 0;
	font-size: 1.2em;
}

.cart-item-info p {
	margin: 5px 0;
}
